.resources__link {
  display: flex;
  transition: transform 0.7s ease;
  transition: box-shadow 0.6s ease;
}

.resources__link:hover {
  opacity: 0.7;
  transform: scale(1.02);
  box-shadow: 10px 7px 10px rgba(60, 160, 253, 0.9);
  border-radius: 10px;
}
